<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lovoppslag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/law-ref-gui.css" th:href="@{/law-ref-gui.css}"rel="stylesheet" />
    <script src="../static/law-ref-gui.js" th:src="@{/law-ref-gui.js}" async defer></script>
</head>
<body>
<!--
<p th:text="'Hello, ' + ${name} + '!'" />
-->
Search for law, or inside law: <input type="text" id="law-ref-search">
<span id="law-ref-result-info" style="margin-left: 2em;"></span>

<div id="law-ref-result" style="margin-top: 1em;"></div>

</body>
</html>